---
import { Image } from "astro:assets";
import tbcLogo from "@assets/partners/tbc.jpg"
import fwifLogo from "@assets/partners/fwif.png"
import yLogo from "@assets/partners/yeetum.png"
import oLinks from "@assets/partners/olinks.png"
import tcu from "@assets/partners/tcu.svg"
import utsa from "@assets/partners/utsa.svg"
import simba from "@assets/partners/simba.svg"
import ndf from "@assets/partners/ndf.png"
import liquidacre from "@assets/partners/liquidacre.png"
---

<div class="mt-24">
  <h2 class="text-center text-slate-400 text-lg font-semibold mb-2">Partners & Collaborators</h2>
  <p class="text-center text-slate-500 text-sm mb-8">Building the future of Fort Worth together</p>

  <div class="bg-white rounded-2xl p-10 md:p-14 shadow-xl">
    <div class="flex flex-wrap gap-10 md:gap-14 items-center justify-center">
      <a href="https://yeetum.com" target="_blank" class="hover:scale-105 transition-transform duration-300">
        <Image src={yLogo} alt="Yeetum Intelligence Platform" height="45" width="140" class="h-10 w-auto object-contain"/>
      </a>
      <a href="https://texasblockchaincouncil.org/" target="_blank" class="hover:scale-105 transition-transform duration-300">
        <Image src={tbcLogo} alt="Texas Blockchain Council" height="45" width="140" class="h-10 w-auto object-contain"/>
      </a>
      <a href="https://www.digifoundry.org/" target="_blank" class="hover:scale-105 transition-transform duration-300">
        <Image src={ndf} alt="National DigiFoundry" height="45" width="140" class="h-10 w-auto object-contain"/>
      </a>
      <a href="https://ipser.com" target="_blank" class="hover:scale-105 transition-transform duration-300">
        <Image src={fwifLogo} alt="Fort Worth Innovators Forum" height="45" width="140" class="h-10 w-auto object-contain"/>
      </a>
      <a href="https://olinkscorp.com/" target="_blank" class="hover:scale-105 transition-transform duration-300">
        <Image src={oLinks} alt="O'Links Corporation" height="45" width="140" class="h-10 w-auto object-contain"/>
      </a>
      <a href="https://cse.tcu.edu/" target="_blank" class="hover:scale-105 transition-transform duration-300">
        <Image src={tcu} alt="Texas Christian University" height="45" width="140" class="h-10 w-auto object-contain"/>
      </a>
      <a href="https://www.utsa.edu/" target="_blank" class="hover:scale-105 transition-transform duration-300">
        <Image src={utsa} alt="University of Texas San Antonio" height="45" width="140" class="h-10 w-auto object-contain"/>
      </a>
      <a href="https://simbachain.com/" target="_blank" class="hover:scale-105 transition-transform duration-300">
        <Image src={simba} alt="Simba Chain" height="45" width="140" class="h-10 w-auto object-contain"/>
      </a>
      <a href="https://liquidacre.com/" target="_blank" class="hover:scale-105 transition-transform duration-300">
        <Image src={liquidacre} alt="LiquidAcre" height="45" width="140" class="h-10 w-auto object-contain"/>
      </a>
    </div>
  </div>
</div>
