---
// @ts-ignore
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import tbcLogo from "@assets/partners/tbc.jpg"
import fwifLogo from "@assets/partners/fwif.png"
import yLogo from "@assets/partners/yeetum.png"
import oLinks from "@assets/partners/olinks.png"
import tcu from "@assets/partners/tcu.svg"
import utsa from "@assets/partners/utsa.svg"
import constellation from "@assets/partners/constellation.svg"
import simba from "@assets/partners/simba.svg"
import ndf from "@assets/partners/ndf.png"
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Partners</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Image src={yLogo} alt="Yeetum Intelligence Platform" height="75" width="100"/>
    <Image src={tbcLogo} alt="Texas Blockchain Council" height="75" width="100"/>
    <Image src={fwifLogo} alt="Fort Worth Innovators Forum" height="75" width="100"/>
    <Image src={oLinks} alt="O'Links Corporation" height="75" width="100"/>
    <Image src={tcu} alt="Texas Christian University" height="75" width="100"/>
    <Image src={utsa} alt="University of Texas San Antonio" height="75" width="100"/>
    <Image src={constellation} alt="Constellation Labs" height="75" width="100"/>
    <Image src={simba} alt="Simba Chain" height="75" width="100"/>
    <Image src={ndf} alt="National DigiFoundry" height="75" width="100"/>
  </div>
</div>
